<!DOCTYPE html>
<html>
<title>Menu</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<header class="w3-container w3-teal">
  <h1>Menu</h1>
</header>

<div class="w3-container w3-half w3-margin-top">
	<form action="/menu" method="post" class="w3-container w3-card-4">
	<select class="w3-select" name="target">
		<option value="create">Create Restaurant Document</option>
		<option value="update">Update Restaurant Document</option>
		<option value="rate">Rate Restaurant</option>
		<option value="display">Display Restaurant Document</option>
		<option value="delete">Delete Restaurant Document</option>
		<option value="search">Search Restaurant Document</option>
	</select>
		<button class="w3-btn">Submit</button>
	</form>
</div>

</body>
</html>
