<!DOCTYPE html>
<html>
<title>Edit</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<header class="w3-container w3-teal">
  <h1>Edit document</h1>
</header>

<div class="w3-container w3-half w3-margin-top">

<form action="/processUpdate" method="post" class="w3-container w3-card-4">
  <p>
  <input name="restaurant_id" class="w3-input" type="text" style="width:90%" required>
  <label class="w3-label w3-validate">Enter the id of the restaurant</label></p>
  <select name = "select" class="w3-select"">
	<option value="name">restaurant name</option>
	<option value="borough">restaurant borough</option>
	<option value="cuisine">restaurant cuisine</option>
	<option value="photo">restaurant photo</option>
	<option value="mimetype">restaurant photo(mimetype)</option>
	<option value="building">restaurant building</option>
	<option value="street">restaurant street</option>
	<option value="zipcode">restaurant zipcode</option>
	<option value="xcoord">restaurant x-coord</option>
	<option value="ycoord">restaurant y-coord</option>
  </select>
  <input name="edit"class="w3-input" type="text" style="width:90%" >
  <p>
  <button class="w3-btn w3-section w3-teal w3-ripple"> Submit </button>
  </p>
</form>
</div>

</body>
</html>
